/* AppBar */
.app-bar {
    padding: 8px 16px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    color: black;
    min-height: 44px;
    min-width: 44px;
  }
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
  .app-bar .app-bar__brand a {
    color: firebrick;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    display: block;
    user-select: none;
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    line-height: 44px;
  }
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 60px;
    left: -180px;
    width: 120px;
    transition: all 0.3s;
    padding: 8px;
    background-color:aliceblue;
    overflow: hidden;
  }
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: firebrick;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 44px;
    min-height: 44px;
  }
  