@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+TC&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/v4-shims.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Content */
/* #maincontent {
  padding: 32px;
} */
/* skip to content */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

/* Like */
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
}
.content {
  margin: 0 auto;
  min-height: 100%;
}
.content h2 {
  text-align: center;
  color: #eeeeee;
  font-size: 24px;
  min-height: 44px;
}
.content .content__heading {
  font-weight: bolder;
  padding-top: 20px;
  color: red;
}

/* About Us */
.aboutus {
  position: relative;
  width: 100%;
  height: 80vh;
}
.aboutus img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.aboutus h4 {
  position:absolute;
  font-size: 2.2vw;
  top:17px;
  left: 15px;
  color:blue;
  font-weight: bolder;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 44px;
}
.aboutus p {
  position:absolute;
  font-size: 1.5vw;
  top:52px;
  left: 15px;
  color:midnightblue;
  font-weight: bolder;
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 44px;
}

/* Footer */
footer {
  padding: 16px;
  background-color: firebrick;
  text-align: center;
  color: whitesmoke;
  min-height: 44px;
  font-size: 18px;
}

      