@media screen and (min-width: 280px) {
  .app-bar .app-bar__brand a {
    font-size: 18px;
  }
  .hero {
    height: 25vh;
  }
  .hero .title {
    height: 28vh;
  }
  .hero .title h4 {
    font-weight: 300;
    font-size: 25px;
  }
  .hero .title p {
    font-weight: 300;
    font-size: 15px;
  }
  .kedais {
    padding: 0px 15px;
  }
  .kedai-item .kedai-item__header .kedai-item__header__poster {
    height: 200px;
  }
  .kedais-detail .kedai__info {
    margin: 20px 0px;
    padding: 10px;  
  }
  .kedais-detail .review-card {
    padding: 25px 0px 0px 10px;
  } 
  /* .aboutus h4 {
    font-size: 10px;
    top: 5px;
    left: 5px;
  }
  .aboutus p {
    font-size: 8px;
    top: 17px;
    left: 5px;
  } */
  footer {
    font-size: 12px;
}
}

@media screen and (min-width: 400px) {
  .kedai-item .kedai-item__header .kedai-item__header__poster {
    height: 200px;
  }
  .kedais {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 500px) {
  .kedai-item {
    max-width: 450px;
  }
  .kedai-item .kedai-item__header .kedai-item__header__poster {
    height: 200px;
  }
  .kedais {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 650px) {
  .hero {
    height: 33vh;
  }
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
  .app-bar .app-bar__menu {
    display: none;
  }
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
  .kedais-detail .kedai__poster {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .kedais {
    padding: 0px 20px;
    gap: 50px;
  }
  .kedai-item {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .app-bar .app-bar__brand a {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    height: 60vh;
  }
  .hero .title {
    height: 60vh;
  }
  .hero .title h4 {
    font-weight: 300;
    font-size: 80px;
  }
  .hero .title p {
    font-weight: 300;
    font-size: 30px;
  }
  .content h2 {
    font-size: 40px;
  }
  .kedais {
    padding: 0px 20px;
    gap: 30px;
  }
  .kedais-detail {
    padding: 0px 100px;
  }
  .kedais-detail .kedai__poster {
    width: 60%;
  }
  .kedais-detail .category {
    width: 100%;
    justify-content: center;
    gap: 100px;
  }
  /* .aboutus h4 {
    font-size: 20px;
    top: 5px;
    left: 5px;
  }
  .aboutus p {
    font-size: 15px;
    top: 17px;
    left: 5px;
  } */
}

@media screen and (min-width: 1200px) {
  .kedai-item .kedai-item__content p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .kedais {
    grid-template-columns: repeat(5, 1fr);
  }
}
